<div class="row">
  {{#each this}}
  {{#if_even @index}}
  <div class="hexagon" data-id="{{id}}">
    <div class="outer">
      <div class="inner product-name">
        <img class="prod-img" src="{{img}}" alt="">
          <div class="text-outer">{{name}}
          </div>
        <div class="textWrapper">
          <div class="text-inner">{{name}}
            <div class="text-sub">Type: {{type}}</div>
            <div class="text-sub">Price: {{price}}</div>
            <div class="text-sub">Quantity: {{qty}}</div>
            <div><a href="#/product/{{id}}/edit">Edit</a> <a href="#/product/{{id}}/delete" class="warning">Delete</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="hexagon even" data-id="{{id}}">
    <div class="outer">
      <div class="inner product-name">
          <img class="prod-img" src="{{img}}" alt="">
          <div class="text-outer">{{name}}
          </div>
        <div class="textWrapper">
          <div class="text-inner">{{name}}
            <div class="text-sub">Type: {{type}}</div>
            <div class="text-sub">Price: {{price}}</div>
            <div class="text-sub">Quantity: {{qty}}</div>
            <div><a href="#/product/{{id}}/edit">Edit</a> <a href="#/product/{{id}}/delete" class="warning">Delete</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/if_even}}  
  {{/each}}      
</div>